html {
  
    color: #4db6ac;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222233; 
}

#homeContent{
    text-align:center;
}

#aboutContent{
    text-align: center;
}

.scroll-down {
    position: fixed;
    top: 90%;
}

.scroll-up {
   position: absolute; 
    top: 80%;
}

.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
  @-webkit-keyframes bounce {
    0%, 100% {
      -webkit-transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-10px);
    }
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
  }

  .transparent-background {
    background-color: #222233; 
  }
 
  .std-margin {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .std-border {
    border: 3px solid white;
  }

  #footer {
    background: none !important;
    position: absolute;
    width: 100%;
    bottom: 10px;
    height: 10vh;
  }

  #footer-contact {
    background: none !important;
    position: absolute;
    width: 100%;
    bottom: 10px;
    height: 10vh;
  }
  .social {
    color: #4db6ac;
  }

  .social:hover {
    color: #64ffda;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .socialLinks {
    padding-top: 5px;
  }
  .copyright {
    margin-top: -15px !important;
  }


  #navbar {
    position: fixed;
    top: 3%;
    right: 5%;
    background: none;
    box-shadow: none;
  }

  #mobileMenu {
    position: fixed;
    top: 3%;
    left: 5%;
  }

  #mobile-demo {
    background-color: #222233 !important; 
  }

  #mobile-demo li a {
    color: #4db6ac !important;   
  }

  .menu-item {
    font-size: 1.5em;
  }

  .contact-menu {
    font-size: 1.5em;
  }

  .menu-item:after {
    display:block;
    content: '';
    border-bottom: solid 3px #4db6ac;  
    transform: scaleX(0);  
    transition: transform 300ms ease-in-out;
  }

  .menu-item:hover:after { transform: scaleX(1); }

  .contact-menu:after {
    display:block;
    content: '';
    border-bottom: solid 3px #4db6ac;  
    transform: scaleX(0);  
    transition: transform 300ms ease-in-out;
    width: 120%;
  }
  .contact-menu:hover:after { transform: scaleX(1); }

  #speciality {
    display: inline;
  }

nav {
  background-color: transparent !important;
  box-shadow: none
}

#sidenav-overlay {
  left: 300px;
}



#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background-color: #4db6ac !important;
}

.fp-tooltip {
  color: #4db6ac !important;
}

.hoverContent:hover {
  opacity: 0.7 !important;
  background-color: black;
  color: white;
}

.node circle {
  fill: #fff;
  stroke: whitesmoke;
  stroke-width: 3px;
}

.link {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

.no-shadow {
  box-shadow: none !important;
}

.tagBall {
  position:relative;
}

.tag {
  display:block;
  position:absolute;
  color:#000;
}

hr { 
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #4db6ac;
  margin: 1em 0;
  padding: 0;
 }

 #submitContact {
   color: #222233 !important;
 }

.custom-border {
    border-bottom: 1px solid #4db6ac !important;
}



.svg-content { 
	display: block;
	margin: auto;
}

.switch {
  padding: 10px;
}

.optionsContainer {
  background-color: #414161;
  opacity: 0.8;
  clear: both;
  margin-top: 50px;
  margin-right: 50px; 
  float: right;
}

#tag-cloud {
  margin: 0px auto !important; 
  margin-top: 100px !important;
}
